body {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #efefef;
}
html,body{
	margin: 0;padding: 0;
	width: 100%;
	/*// overflow: hidden;*/
}
html{
	font-size: 100px;
}
input{
	border: none;
}
ul,li{
	margin: 0;padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
  	color: #999;
  	font-size: .12rem;
}
